body {
    background: none repeat scroll 0 0 #dedede;
    font-family: 'Shadows Into Light Two', cursive;
    margin: 0;
    padding: 0;
}

#content{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#clock{
    font-size: 200px;
}

